nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: hsla(0, 0%, 100%, 0.2);
    height: 80px;
    z-index: 3;
}
.nav-link , .nav-logo {
    color: black;
    text-decoration: none;
    display: inline block;
    padding-inline: 15px;
    padding-block: 8px;
    transition: 600ms;
    border-radius: 5px;
}
.nav-link:hover {
    width: 100%;
    color: #ddd;
    background-color: rgba(0, 0, 0, 0.8);
}
.nav a:not(.nav-logo):hover {
    background-color: rgba(99, 99, 99, 0.8);
}

#model-s{
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/8a74d206-66dc-4386-8c7a-88ff32174e7d/bvlatuR/std/4096x2560/Model-S-Main-Hero-Desktop-LHD');
}
#model-3{
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/5a7b3001-249f-4065-a330-4ea6a17ccf7b/bvlatuR/std/2560x1708/Model-3-Main-Hero-Desktop-LHD');
}
#model-x{
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/8c26f779-11e5-4cfc-bd7c-dcd03b18ff88/bvlatuR/std/4096x2561/Model-X-Main-Hero-Desktop-LHD');
}
#model-y{
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/91abd4c7-32a1-41cc-ade5-b64774dbea61/bvlatuR/std/2880x1800/Model-Y-Main-Hero-Desktop-Global?quality=auto-medium&format=auto');
}
#cybertruck{
    background-image: url('https://tesla-cdn.thron.com/delivery/public/image/tesla/0f22af4d-15e0-452d-ba66-1359490b4a0b/bvlatuR/std/2880x1800/Cybertruck-Hero-Desktop');
}
#powerwall{
    background-image: url('https://www.tesla.com/sites/default/files/powerwall/hero/D_PW_Hero_2880x1800.jpg');
}

.menu_icon {
    display: none;
}
.wdc_menu{
    display: none;
}
.title {
    margin-top: 150px;
}
.title h2 { 
    font-size: 5.5rem;
}
.title p , a {
    font-size: 1.5rem;
    /* text-decoration: none; */
    color: black;
}
.button-group {
    margin-bottom: 150px;
}

.btn {
    display: inline-block;
    padding-inline: 80px;
    padding-block: 8px;
    text-decoration: none;
    border-radius: 4px;

}
.btn-dark {
    color: #fff;
    background-color: #222;
}
.btn-light {
    color: #222;
    background-color: #fff;
}
.btn-red {
    color:#fff;
    background-color: red;
}
.arrow {
    display:block;
    position: absolute;
    bottom: 60px;
    left: 48%;
    color: black;
    animation: arrow 1.5s infinite;
}
.arrow:hover{
    animation: arrow 1.5s infinite;
}
@keyframes arrow {
    0%{transform: translateY(0);}
    20%{transform: translateY(15px);}
    40%{transform: translateY(0);}
    60%{transform: translateY(5px);}
    80%{transform: translateY(0);}
    100%{transform: translateY(0);}
}

footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-block: 10px;
    background-color: rgba(255, 255, 255, 0.13);
}
footer a {
    color: #999;
    text-decoration: none;
    margin-inline: 10px;
}
footer p {
    color: #999;
    text-decoration: none;
    margin-inline: 10px;
}
footer a:hover {
    color: #333;
    background: #fff;
    border-radius: 5px;
}


@media(max-width: 1200px){
    .nav {
        display:block ;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background: hsla(0, 0%, 100%, 0.2);
        height: 80px;
        z-index: 3;
    }
    .nav-link , .nav-logo {
        color: black;
        text-decoration: none;
        display: inline block;
        padding-inline: 15px;
        padding-block: 8xp;
        transition: 600ms;
        border-radius: 5px;
    }
    .nav-menu {
        display: none;
    }
    .menu_icon {
        position: fixed;
        display: block;
        border-radius: 50%;
        top: 15px;
        right: 15px;
        width: 51px;
        height: 51px;
        z-index: 6;
    }
    .menu_icon:before, .menu_icon:after {
        content: "";
        position: absolute;
        z-index: -2;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        height: 0;
        width: 0;
        transition: all .5s cubic-bezier(1,.005,0,1.000);
    }
    .menu_icon:hover {
        background: #555;
        cursor: pointer;
        opacity: 1;
        transition: .5s ease all;
    }
    .bar1, .bar2, .bar3 {
        position: absolute;
        top: 16px;
        left: 12px;
        display: block;
        width: 27px;
        height: 1px;
        background: #ddd;
        -webkit-transition: all .5s;
        transition: all .5s;
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }
    .bar2 {
        top: 25px;
        opacity: 1;
    }
    .bar3{
        top: 34px;
        -webkit-transform-origin: left bottom;
        transform-origin: left bottom;
    }
    .bar1.active {
        width: 29px;
        left: 16px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .bar2.active {
        opacity: 0;
    }
    .bar3.active {
        width: 29px;
        top: 36px;
        left: 16px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .wdc_menu {
        box-sizing: border-box;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        /* overflow-y: scroll; */
        overflow-x: hidden;
        background-color: #434343;
        -webkit-overflow-scrolling: touch;
        /* overflow-scrolling: touch; */
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .5s;
        transition-duration: .5s;
        /* -webkit-transition-delay: 0s; */
        /* transition-delay: 0s; */
        -webkit-transform: translateX(430px);
        transform: translateX(430px);
        z-index: 4;
    }
    .wdc_menu.active  {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
        z-index: 4;
    }
    .close_menu {
        position: fixed;
        top: 0;
        right: 400px;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-delay: .3s;
        transition-delay: 0s;
        visibility: hidden;
        opacity: 0;
    }
    .close_menu.active {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
        background: rgba(0,0,0,.5);
        visibility: visible;
        opacity: 1;
        z-index: 3;
    }
    .wdc_title{
        color: #ddd;
        background-color:#535353 ;
        text-align: center;
        font-size: 1.5rem;
        line-height: 5rem;
        width: 100%;
        height: 80px;
    }
    ul {
        box-sizing: border-box;
    }
    li {
        display: grid;
        text-align: flex;
        /* padding: 10px; */
        line-height:100%;
        border-color:#b4b4b4 ;
        border-style:solid;
        border-width:1px;
        padding: 1px;
    }
    .link-tab-content a {
        color:#ddd ;
    }
    .link-tab-content a:hover{
        color: #222;
    }
    .link-tab-content {
        transition: 600ms;
        border-radius: 5px;
        background-color: var(--cm-dark);
        padding: 0 10px;
        height: 5rem;
        color: #fff;
        font-size: 1.3rem;
        text-align: center;
        line-height: 5rem;
        letter-spacing: .02rem;
    } 
    .link-tab-content:hover {
        color: #222;
        background-color:#ddd;
        
    }
    
    .title {
        margin-top: 150px;
    }
    .title h2 { 
        font-size: 5.5rem;
    }
    .title p , a {
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
    }
    .button-group {
        margin-bottom: 150px;
    }

    .btn {
        display: inline-block;
        padding-inline: 50px;
        padding-block: 8px;
        text-decoration: none;
        border-radius: 4px;

    }
    .btn-dark {
        color: #fff;
        background-color: #222;
    }
    .btn-dark:hover{
        color: #222;
        background-color: #aaa;
    }
    .btn-light {
        color: #222;
        background-color: #fff;
    }
    .btn-light:hover{
        color: #fff;
        background-color: #aaa;
    }
    .btn-red {
        color:#fff;
        background-color: red;
    }
    .arrow {
        display: none;
    }
    footer {
        /* position: fixed; */
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding-block: 10px;
        background-color: rgba(255, 255, 255, 0.13);
    }
    footer a {
        color: #999;
        text-decoration: none;
        margin-inline: 10px;
    }
}